resource "tls_private_key" "key" {
  algorithm = "{{ touf_vm_key_algorithm }}"
  rsa_bits  = {{ tofu_vm_key_rsa_bits }}
}

resource "local_file" "private_key" {
  content  = tls_private_key.key.private_key_pem
  filename = "${path.module}/SSH_KEY"
}

module "worker" {

{% if tofu_worker_module_source.type == "git" %}
  source = "git::{{ tofu_worker_module_source.url }}.git?ref={{ tofu_worker_module_source.version }}"
{% else %}
  source = "{{ tofu_worker_module_source.url }}"
  version = "{{ tofu_worker_module_source.version }}"
{% endif %}
  for_each = var.tofu_worker_instances
  prefix = each.key
{% for key, value in tofu_worker_module_extra_variables %}
  {{ key }} = each.value.{{ value }}
{% endfor %}

{% if tofu_worker_module.chassis == "vm" %}
  cloud-init = local.cloud-init-docker
{% endif %}

{% if tofu_rift_required | default(false) %}
module "rift" {
{% if tofu_rift_module_source.type == "git" %}
  source = "git::{{ tofu_rift_module_source.url }}.git?ref={{ tofu_rift_module_source.version }}"
{% else %}
  source = "{{ tofu_rift_module_source.url }}"
  version = "{{ tofu_rift_module_source.version }}"
{% endif %}
  for_each = var.tofu_rift_instances
  prefix = each.key
{% for key, value in tofu_rift_module_extra_variables %}
  {{ key }} = each.value.{{ value }}
{% endfor %}

{% if tofu_rift_module.chassis == "vm" %}
  cloud-init = local.cloud-init-docker
{% endif %}

{% endif %}
